html{
    height: 100%;
}

#wrap {
    min-height: 100%;
    padding-bottom: 80px; /* this needs to be bigger than footer height */
}

.footer {
    position: relative;
    margin-top: -80px; /* negative value of footer height */
    height: 80;
    clear:both;
} 

body {
    height: 100%;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}