<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block titulopagina %}Práctica DAI{% endblock %}</title>

        <!-- Mi CSS -->
        <link rel="stylesheet" href="../static/micss.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block jquery %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
        <!--------------------------------------------------------------------------------->
        <!-- NAV BAR ---------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <nav class="navbar navbar-expand-md bg-warning navbar-light">
            <!-- Icono del sitio -->
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src={% block icono %}"../static/images/overwatchlogo.svg"{% endblock %} alt="Logo" style="width:40px;">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <!-- Nombre del sitio -->
                    <a class="nav-item active nav-link" href="{{url_for('index')}}"><strong>Ana</strong></a>

                    <!-- Dropdown ejercicios p1 -->
                    <div class="dropdown">
                        <a class="nav-item active nav-link" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                            Ejercicios
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{url_for('ejercicio2', values='5,2,7,3')}}">Ejercicio 2</a>
                            <a class="dropdown-item" href="{{url_for('ejercicio3', value=30)}}">Ejercicio 3</a>
                            <a class="dropdown-item" href="{{url_for('ejercicio4', value=9)}}">Ejercicio 4</a>
                            <a class="dropdown-item" href="{{url_for('ejercicio5', s='[][]')}}">Ejercicio 5</a>
                            <a class="dropdown-item" href="{{url_for('ejercicio6', value='Ana Maria')}}">Ejercicio 6</a>
                            <a class="dropdown-item" href="{{url_for('svg')}}">Ejercicio SVG</a>
                        </div>
                    </div>

                    <!-- Ejercicio 1 -->
                    <a class="nav-item active nav-link" href="{{url_for('ejercicio1')}}">Ejercicio 1</a>
                </ul>

                <!-- Modo nocturno -->
                <a href="#"><button id="boton-noche" class="btn btn-primary my-2 mx-1 my-sm-0 btn-sm" onclick="modoNoche(true)">Cambiar modo</button></a>

                <!-- Botones -->
                {% block botones %}
                {% if usuario == false %}
                    <a href="{{url_for('login')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Iniciar sesión</button></a>
                    <a href="{{url_for('registro')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Registrarse</button></a>
                {% else %}
                    <a href="{{url_for('perfil')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Perfil de {{usuario}}</button></a>
                    <a href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Cerrar sesión</button></a>
                {% endif %}
                {% endblock %}
            </div>
        </nav>

        <!--------------------------------------------------------------------------------->
        <!-- ALERTAS ---------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show mx-5" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!--------------------------------------------------------------------------------->
        <!-- CUERPO ----------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <div class="container-fluid">
            {% block cuerpo %}
            <div class="row p-4 py-5">
                <!--------------------------------------------->
                <!-- MENU VERTICAL IZQUIERDA ------------------>
                <!--------------------------------------------->
                <div class="col-3 mr-2">
                    {% block menuverticalizda %}
                    <ul class="list-group pb-4">
                        <li class="list-group-item bg-light">Colecciones</li>
                        <li class="list-group-item bg-light"><a href="{{url_for('peliculas')}}">Películas</a></li>
                        <li class="list-group-item bg-light"><a href="{{url_for('peliculas_api')}}">Películas API</a></li>
                        <li class="list-group-item bg-light"><a href="{{url_for('graficas_peliculas')}}">Gráficas</a></li>
                    </ul>
                    {% endblock %}
                    
                    {% block ultimaspaginasvisitadas %}
                    <ul class="list-group pt-4">
                        <li class="list-group-item bg-light">Páginas recientes</li>
                        {% for p in ult_pags %}
                            <li class="list-group-item bg-light"><a href="{{p}}">{{p}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div>
                <!--------------------------------------------->
                <!-- CENTRO ----------------------------------->
                <!--------------------------------------------->
                <div class="col ml-2">
                {% block contenido %}
                Plantilla de la web
                {% endblock %}
                </div>
                
            {% endblock %}
            </div>
        </div>
        </div>

        <!--------------------------------------------------------------------------------->
        <!-- PIE -------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        {% block footer %}
        <footer class="footer bg-dark text-white">
                <div class="text-center py-3">© 2020 Práctica DAI<br>Ana María Romero Delgado</div>
        </footer>
        {% endblock %}

        <!-- =========================================================================== -->
        <!-- FUNCIONES JAVASCRIPT Y JQUERY PARA MODO NOCHE =============================--->
        <!-- =========================================================================== -->
        <script>
            if (localStorage.getItem('darkmode') == 'yes'){
                modoNoche(false);
            }
            else if (localStorage.getItem('darkmode') == null){
                // Poner por defecto a no
                localStorage.setItem('darkmode', 'no');
            }

            function modoNoche(cambio) {
                // Cambiar color del nav
                $('nav').toggleClass('bg-warning bg-dark');
                $('nav').toggleClass('navbar-light navbar-dark');
                // Cambiar color de lista
                $('li').toggleClass('bg-light bg-dark');
                // Cambiar color de encabezados
                $('#encabezado').toggleClass('bg-light bg-dark');
                // Cambiar color de texto en columnas
                $('td').toggleClass('text-dark text-white')
                // Cambiar el color de la paginacion
                $('page-item').toggleClass('bg-light bg-dark')
                // Cambiar color de body
                document.body.classList.toggle("dark-mode");

                // Cambiar localStorage darkmode
                if (cambio == true){
                    if (localStorage.getItem('darkmode') == 'no'){ localStorage.setItem('darkmode', 'yes'); console.log("Ahora está en yes")}
                    else if (localStorage.getItem('darkmode') == 'yes'){ localStorage.setItem('darkmode', 'no'); console.log("Ahora está en no")}
                }
            }
        </script>

    </body>