{% extends "base.html" %}

{% block titulopagina %} Editar película {% endblock %}

{% block icono %}"../../static/images/overwatchlogo.svg"{% endblock %}

{% block botones %}
<!-- Boton de cancelar (devuelve al listado) -->
<a href="{{url_for('listado_peliculas', p=1)}}"><button class="btn btn-dark my-2 mx-1 my-sm-0 btn-sm">Cancelar edición</button></a>
{% endblock %}


{% block contenido %}
<!-- Formulario -->
<form action="{{datos[0]._id}}" method="POST">
    <h2>Editar película:</h2>
    <div class="dropdown-divider"></div>
    <br>
    <!-- Título -->
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" name="titulo" id="titulo" placeholder="{{datos[0].title}}" value="{{datos[0].title}}" maxlength="30" required>
    </div>

    <!-- Año, id imdb y tipo -->
    <div class="form-row">
        <!-- Año -->
        <div class="form-group col-md-4">
            <label for="anio">Año</label>
            <input type="number" step="1" min="1000" max="3000" class="form-control" name="anio" id="anio" placeholder="{{datos[0].year}}" value="{{datos[0].year}}" required>
        </div>
        <!-- id imdb -->
        <div class="form-group col-md-4">
            <label for="imdb">Id imdb</label>
            <input type="text" class="form-control" name="imdb" id="imdb" placeholder="{{datos[0].imdb}}" value="{{datos[0].imdb}}" maxlength="10" required>
        </div>
        <!-- Tipo -->
        <div class="form-group col-md-4">
            <label for="tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="tipo" placeholder="{{datos[0].type}}" value="{{datos[0].type}}" maxlength="10" required>
        </div>
    </div>
    
    <!-- Botón de envío -->
    <div class="d-flex align-center d-flex justify-content-center">
        <div class="form-group col-4">
            <button class="btn btn-success btn-sm btn-block" type="submit">Guardar cambios</button>
        </div>
    </div>
</form>


{% endblock %}




