{% extends "base.html" %}

# Titulo de la pagina
{% block titulopagina %} Editar usuario {% endblock %}

{% block botones %}
<!-- Boton de cancelar (devuelve al inicio) -->
<a href="{{url_for('perfil')}}"><button class="btn btn-dark my-2 mx-1 my-sm-0 btn-sm">Cancelar edición</button></a>
{% endblock %}

{% block contenido %}
<!-- Formulario de edición de usuario -->
<div class="col">
    <form action="editar_usuario" method="post" class="validate-form">
        <div class="text-center h4">
            <strong>Edición de datos de usuario</strong>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" name="email" value="{{email}}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contraseña" value="{{password}}" minlenght="8" maxlength="15" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="inputNombre" placeholder="Nombre" value="{{nombre}}" minlenght="3" maxlength="10" required>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-sm-5">
                <button class="btn btn-success btn-sm btn-block" type="submit">Guardar cambios</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}