{% extends "base.html" %}

{% block titulopagina %} Ejercicio {{numero}} {% endblock %}

{% block botones %}
<!-- Boton de volver (devuelve al index) -->
<a href="{{url_for('index')}}"><button class="btn btn-dark my-2 mx-1 my-sm-0 btn-sm">Volver</button></a>
{% endblock %}

{% block contenido %}
    {% if numero == "SVG" %}
        <h1>Ejercicio SVG:</h1> <h5><span class="badge badge-pill badge-success">Recarga la página para obtener otra imagen</span></h5>
    {% else %}
        <h1>Ejercicio {{numero}}:</h1> <h5><span class="badge badge-pill badge-success">Introduce los datos en la url para mostrar la solución.</span></h5>
    {% endif %}
    
    <h5>{{enunciado}}</h5>
    {{mensaje}}<br>
    {% autoescape false %}
    {{solucion}}
    {% endautoescape %}
    
{% endblock %}