{% extends "base.html" %}

# Titulo de la pagina
{% block titulopagina %} Ejercicio 1 {% endblock %}

{% block botones %}
<!-- Boton de volver (devuelve al index) -->
<a href="{{url_for('index')}}"><button class="btn btn-dark my-2 mx-1 my-sm-0 btn-sm">Volver</button></a>
{% endblock %}

{% block contenido %}
<h1>Minijuego de adivinar un número entre 1 y 100 que se establece al azar.</h1> 
<h5><span class="badge badge-pill badge-success">El juego acaba cuando se adivine el número o cuando se fallen 10 veces.</span></h5>

<br>

<div class="d-flex align-center d-flex justify-content-center">{{mensaje}}</div>

<div class="d-flex align-center d-flex justify-content-center">
    <!-- Formulario -->
    <div class="col col-md-4 col-my-4">
        {% if restart == false %}
            <form action="ejercicio1" method="post" class="validate-form text-center">
                <input class="form-control form-control-sg" name="guess" placeholder="Número" type="number" min="1" max="100" required="true">
                <button class="btn btn-info btn-sm btn-block" type="submit">Adivinar</button>
            </form>
        {% elif restart == true %}
            <a class="btn btn-info btn-sm btn-block" href="{{url_for('ejercicio1')}}" role="button">Volver a jugar</a>
        {% endif %}
    </div>
</div>

{% endblock %}