{% extends "base.html" %}

{% block titulopagina %} Gráficas {% endblock %}



<!-- Botones -->
{% block botones %}
{% if usuario == false %}
    <a href="{{url_for('login')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Iniciar sesión</button></a>
    <a href="{{url_for('registro')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Registrarse</button></a>
{% else %}
    <a href="{{url_for('perfil')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Perfil de {{usuario}}</button></a>
    <a href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Cerrar sesión</button></a>
{% endif %}
{% endblock %}

{% block contenido %}
	<script src="../static/js/Chart.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<h1>Gráficas y estadísticas sobre películas</h1>

	<!-- Grid -->
	<div class="container-fluid">
		<!-- Botón para generar datos -->
		<div class="row pb-4">
			<a href="{{url_for('generar_datos_aleatorios')}}">
				<button type="button" class="btn btn-success">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
						<path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"></path>
						<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
						<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
					</svg>
					Generar datos aleatorios
				</button>
			</a>
		</div>
		<div class="row">
			<div class="col-5">
				<h5>Valoración media por cada tipo de premio</h5>
				<canvas id="valoraciones_por_premio"></canvas>
				
			</div>
			<div class="col">
				<h5>Número de películas y valoración por año</h5>
				<canvas id="peliculas_por_año"></canvas>
			</div>
		</div>
	</div>

	<script>
		///////////////////////////////////////////////
		// Referencia para for loop con getAjax:
		// https://stackoverflow.com/questions/19916894/wait-for-multiple-getjson-calls-to-finish
		
		////////////////////////////////////////////////////////////////////////////////
		// Recibir todas las valoraciones por cada pelicula
		const PREMIOS_SPACE = ['Goya', 'Premios BAFTA', 'Premios César', 'Palma de Oro', 'David de Donatello', 'Oso de Oro', 'Globo de Cristal', 'Globo de Oro'];
		const PREMIOS = ['Goya', 'PremiosBAFTA', 'PremiosCesar', 'PalmadeOro', 'DaviddeDonatello', 'OsodeOro', 'GlobodeCristal', 'GlobodeOro'];

		function getValoracionMedia(premio){
			// Return a promise
			return $.getJSON('/api/movies?premio=' + premio);
		}

		// Recoger todas las llamadas a AJAX, una por cada premio
		var AJAX = [];
		for (i=0; i < PREMIOS.length; i++){
			AJAX.push(getValoracionMedia(PREMIOS[i]))
		}

		// Cuando estén todas las llamadas, calcular la media de valoraciones según premio y dibujar la gráfica
		$.when.apply($, AJAX).done(function(){
			medias_valoraciones = [];
			
			// Por cada premio
			for (var i=0; i < arguments.length; i++){
				// Recoger todas las películas
				obj = arguments[i][0];

				total_valoraciones = 0;
				// Sumar las valoraciones de todas las películas
				for (var p=0; p<obj.length; p++){
					if (obj[p].valoracion != ''){
						total_valoraciones += obj[p].valoracion;
					}
				}

				// Calcular la media de las valoraciones y guardarla para pintar la gráfica
				media = Number((total_valoraciones / obj.length).toFixed(4)); 
				medias_valoraciones.push(media);
			}

			// Pintar gráfica
			var canvas_valoraciones_por_premio = document.getElementById('valoraciones_por_premio').getContext('2d');
			var grafica_valoraciones_por_premio = new Chart(canvas_valoraciones_por_premio, {
				type: 'radar',
				data: {
					labels: PREMIOS_SPACE,
					datasets: [{
								label : "Media de valoraciones/tipo de premio",
								fill:true,
								backgroundColor:"rgba(160, 99, 132, 0.2)",
								borderColor:"rgb(55, 99, 132)",
								pointBackgroundColor:"rgb(255, 99, 132)",
								pointBorderColor:"#fff",
								pointHoverBackgroundColor:"#fff",
								pointHoverBorderColor:"rgb(255, 99, 132)",
								data: medias_valoraciones
					}]
				},
				options: {
					scale: {
							angleLines: {
										display: true
								},
							ticks: {
										suggestedMin: 0,
										suggestedMax: 5
							}
					}
				}
			});
		});

		////////////////////////////////////////////////////////////////////////////////
		// Recibir numero de peliculas por año y valoraciones
		var ANIOS = [];

		for (i=1960; i<2015; i++){
			ANIOS.push(i);
		}

		function getPeliculas(anio){
			// Return a promise
			return $.getJSON('/api/movies?year=' + anio);
		}

		// Recoger todas las llamadas a AJAX, una por cada año
		var AJAX = [];
		for (i=0; i < ANIOS.length; i++){
			AJAX.push(getPeliculas(ANIOS[i]))
		}

		// Cuando estén todas las llamadas, calcular el numero de peliculas por cada año y su valoracion media
		$.when.apply($, AJAX).done(function(){
			num_peliculas = [];
			medias_valoraciones = [];
			
			// Por cada año
			for (var i=0; i < arguments.length; i++){
				// Recoger todas las películas
				obj = arguments[i][0];

				total_valoraciones = 0;
				// Sumar las valoraciones de todas las películas
				for (var p=0; p<obj.length; p++){
					if (obj[p].valoracion != ''){
						total_valoraciones += obj[p].valoracion;
					}
				}

				// Calcular la media de las valoraciones y el número de películas, guardarlas para pintar la gráfica
				media = Number((total_valoraciones / obj.length).toFixed(4)); 
				medias_valoraciones.push(media);
				num_peliculas.push(obj.length);
			}

			// Pintar gráfica
			var canvas_peliculas_por_año = document.getElementById('peliculas_por_año').getContext('2d');
			var grafica_peliculas_por_año = new Chart(canvas_peliculas_por_año, {
				type: 'bar',
				data:{
					labels: ANIOS,
					datasets: [{
						type: "bar",
						label: "Peliculas por año",
						backgroundColor:"rgba(0, 99, 232, 0.2)",
						barPercentage: 0.8,
						barThickness: "flex",
						data: num_peliculas
					},
					{
						type: "line",
						fill: "false",
						label: "Valoración media",
						backgroundColor:"rgba(100, 9, 232, 0.2)",
						barPercentage: 0.8,
						barThickness: 9,
						data: medias_valoraciones
					}],
			
			
				},
				options: {}
			
			});

		});

		</script>

{% endblock %}


