{% extends "base.html" %}

{% block titulopagina %} Películas {% endblock %}

<!-- Botones -->
{% block botones %}
{% if usuario == false %}
    <a href="{{url_for('login')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Iniciar sesión</button></a>
    <a href="{{url_for('registro')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Registrarse</button></a>
{% else %}
    <a href="{{url_for('perfil')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Perfil de {{usuario}}</button></a>
    <a href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Cerrar sesión</button></a>
{% endif %}
{% endblock %}


{% block contenido %}
<div id="encabezado" class="row border rounded bg-light py-2">
    <!-- Alineado a la izquierda -->
    <div class="col-5 dropdown">
        <!-- Botón nuevo -->
        <a class="btn btn-outline-primary my-2 my-sm-0" id="dropdownMenuLink" data-toggle="dropdown">
            Crear nueva película
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
        
        <!-- Formulario -->
        <form class="dropdown-menu p-4" action="{{url_for('listado_peliculas', p=pag_actual)}}" method="POST">
            <h3>Nueva película</h3>
            <div class="dropdown-divider"></div>
            <br>
            <!-- Título -->
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título" maxlength="30" required>
            </div>
        
            <!-- Año, id imdb y tipo -->
            <div class="form-row">
                <!-- Año -->
                <div class="form-group col-md-4">
                    <label for="anio">Año</label>
                    <input type="number" step="1" min="1000" max="3000" class="form-control" name="anio" id="anio" placeholder="Año" required>
                </div>
                <!-- id imdb -->
                <div class="form-group col-md-4">
                    <label for="imdb">Id imdb</label>
                    <input type="text" class="form-control" name="imdb" id="imdb" placeholder="Id imdb" maxlength="10" required>
                </div>
                <!-- Tipo -->
                <div class="form-group col-md-4">
                    <label for="tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="tipo" placeholder="Tipo" maxlength="10" required>
                </div>
            </div>
            
            <!-- Botón de envío -->
            <div class="form-group">
                <button class="btn btn-success btn-sm btn-block" type="submit" name="insercion" value="insercion">Guardar</button>
            </div>
        </form>
    </div>
    <!-- Alineado a la derecha -->
    <div class="col-7">
        <!-- Barra de búsqueda y botón de búsqueda -->
        <form class="form-inline float-right" action="{{url_for('listado_peliculas', p=1)}}" method="POST">
            <input class="form-control mr-sm-2" name="expresion" type="search" placeholder="Buscar" value="{{busqueda}}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="busqueda" value="busqueda">Buscar</button>
        </form>
    </div>
</div>

<br>

<!-- Tabla -->
<h2>Lista de películas: ({{n}} disponibles)</h2>
{% if busqueda %}
Mostrando resultados de la búsqueda: <em>{{busqueda}}</em>.
<!-- Botón para cancelar la búsqueda -->
<a class="text-danger" href="{{url_for('peliculas')}}"><em>Cancelar búsqueda</em></a>
{% endif %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Título</th>
            <th>Año</th>
            <th>imdb</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for p in peliculas %}
            <tr>
                <td class="col">{{p.title}}</th>
                <td class="col">{{p.year}}</td>
                <td class="col"><a href="https://imdb.com/title/{{p.imdb}}/">imdb</a></td>
                <td class="col">{{p.type}}</td>
                <td class="col">
                    <!-- Menú configuración de item -->
                    <div class="dropdown">
                        <!-- Botón configuración -->
                        <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
                                <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
                            </svg>
                        </button>

                        <!-- Formulario -->
                        <form class="dropdown-menu dropdown-menu-right" action="{{url_for('listado_peliculas', p=pag_actual)}}" method="POST">
                            <!-- Edición -->
                            <div class="dropdown-item">
                                <button class="btn btn-link text-dark" type="submit" name="edicion" value="{{p._id}}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                    Editar
                                </button>
                            </div>
                            <!-- Linea para dividir -->
                            <div class="dropdown-divider"></div>
                            <!-- Borrado -->
                            <div class="dropdown-item">
                                <!-- Button trigger modal -->
                                <button class="btn btn-link text-danger" type="submit" name="borrado" value="{{p._id}}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    Eliminar
                                </button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Paginación -->
<nav>
    <ul class="pagination justify-content-center">
        <!-- Primera pagina -->
        <li class="page-item {%if pag_actual==1%}disabled{%endif%}"><a class="page-link" href="{{url_for('listado_peliculas', p=1)}}">&laquo;</a></li>
        <!-- Páginas intermedias -->
        {% for pagina in paginas %}
            <li class="page-item {%if pag_actual==pagina%}active{%endif%}"><a class="page-link" href="{{url_for('listado_peliculas', p=pagina)}}">{{pagina}}</a></li>
        {% endfor %}
        <!-- Última pagina -->
        <li class="page-item {%if pag_actual==max_pag%}disabled{%endif%}"><a class="page-link" href="{{url_for('listado_peliculas', p=max_pag)}}">&raquo;</a></li>
    </ul>
</nav>
{% endblock %}




