{% extends "base.html" %}

{% block titulopagina %} Películas API {% endblock %}



<!-- Botones -->
{% block botones %}
{% if usuario == false %}
    <a href="{{url_for('login')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Iniciar sesión</button></a>
    <a href="{{url_for('registro')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Registrarse</button></a>
{% else %}
    <a href="{{url_for('perfil')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Perfil de {{usuario}}</button></a>
    <a href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 mx-1 my-sm-0 btn-sm">Cerrar sesión</button></a>
{% endif %}
{% endblock %}

{% block contenido %}
	<h2>Lista de películas (desde la API)</h2>
	<!-- jQuery cargar libreria-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Tabla -->
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Título</th>
				<th>Año</th>
				<th>imdb</th>
				<th>Tipo</th>
				<th class="text-center">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
						<path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
					</svg>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- Aquí iran los registros que se encuentren -->
		</tbody>
	</table>

	<div class="container">
		<div class="row justify-content-md-center">
		<div class="col col-sm-1">
			<div class="spinner-border text-info"></div>
		</div>
	</div>
	
	<script>
		// Función para dar click en el botón de borrar
		function Pulso(id){
			$(function(){
				// Enviar a la URL de eliminar pelicula el id a eliminar
				$.ajax({
					type: "DELETE",
					url: "/api/movies/" + id
				}).done(function(msg){
					console.log("Pelicula con id " + msg.id + " borrada.")
					// Eliminar el <tr> con id el borrado para que no se muestre en la lista
					var row = document.getElementById(msg.id);
					row.parentNode.removeChild(row);
				});
			});
		};

		// Obtiene información en formato JSON desde el servidor
		$.getJSON('/api/movies', function(data){
			$('#loading-div').show()
			// Recorrer los datos
			for (var i = 0; i < data.length; i++){
				// Formar la fila de la tabla html
				htmlString = `<tr id="` + data[i].id + `">`
				htmlString += `<td class="align-middle">` + data[i].title + `</td>`
				htmlString += `<td class="align-middle">` + data[i].year + `</td>`
				htmlString += `<td class="align-middle"><a href="https://imdb.com/title/` + data[i].imdb + `/">imdb</a></td>`
				htmlString += `<td class="align-middle">` + data[i].type + `</td>`
				htmlString += `<td class="align-middle"><button class="btn btn-danger" onclick="Pulso('` + data[i].id + `')">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
						<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
					</svg>
					Eliminar
					</button></td>`
				htmlString += `</tr>`
				$('.table').append(htmlString)
			}
			$('#loading-div').hide()
		});
	</script>

{% endblock %}