{% extends "base.html" %}

# Titulo de la pagina
{% block titulopagina %} Login {% endblock %}

{% block botones %}
<!-- Boton de cancelar (devuelve al index) -->
<a href="{{url_for('index')}}"><button class="btn btn-dark my-2 mx-1 my-sm-0 btn-sm">Cancelar</button></a>
{% endblock %}

{% block menuverticalizda %}
<!-- Eliminar menu vertical de la izquierda -->
{% endblock %}

{% block cuerpo %}
<!-- Formulario de login -->
<div class="container-fluid h-100">
    <div class="row justify-content-center pt-5">
    <div class="col col-md-4 col-my-4">
        <form action="login" method="post" class="validate-form text-center">
            <div class="text-center h4">
                <strong>Inicio de sesión</strong>
            </div>
            <div class="form-group validate-input" data-validate="Email requerido">
                <input class="form-control" name="email" placeholder="Email" type="email" required="true">
            </div>
            <div class="form-group validate-input">
                <input class="form-control form-control-sg" name="password" placeholder="Contraseña" type="password" required="true">
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-sm btn-block" type="submit">Entrar</button>
            </div>
            <div class="text-center p-t-45 p-b-4">
                <span class="txt1">¿Crear una cuenta?</span>
                <a href="{{url_for('registro')}}" class="txt2">Registrarse</a>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}