{% extends "base.html" %}

# Titulo de la pagina
{% block titulopagina %} Perfil {% endblock %}

# Información de usuario
{% block contenido %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark"><strong>Perfil de usuario</strong></li>
        <li class="list-group-item">Email: {{email}}</li>
        <li class="list-group-item">Nombre: {{nombre}}</li>
        <li class="list-group-item"><a href="{{url_for('editar_usuario')}}"><button class="btn btn-warning my-2 mx-1 my-sm-0 btn-sm">Modificar datos de usuario</button></a></li>
    </ul>
{% endblock %}